(
    User: [
        (
            id: "a73f0b00-4d00-4477-a4f3-9d9951318678",
            user_name: "tommie",
            email: "tommie.nygren@gmail.com",
            first_name: "Tommie",
            last_name: "Nygren",
            phone: Some("0704382781"),
            birthday: Some("1973-05-12"),
        ),
    ],
    Budget: [
        (
            id: "161fa5fa-8307-48ee-96eb-b10b68799988",
            name: "Default test budget",
            default_budget: true,
            month_begins_on: PreviousMonth(25),
            budget_categories: [
                Income("Löner"),
                Expense("Fasta Utgifter"),
            ],
            budget_items: {
                Expense("Fasta Utgifter"): (
                    id: "f89da453-4926-4503-a7a7-6e3cb12021ae",
                    name: "Hyra lägenheten",
                    budget_category: Expense("Fasta Utgifter"),
                    incoming_transactions: {
                        "f8e56f45-a110-454e-9ae0-3d58854f7578": (
                            id: "f8e56f45-a110-454e-9ae0-3d58854f7578",
                            text: "Spend Money",
                            transaction_type: StartValue,
                            amount: 7500.0,
                            from_budget_item: Some("c74b9bbf-0dc6-40a9-8096-a4954044b3ff"),
                            to_budget_item: "f89da453-4926-4503-a7a7-6e3cb12021ae",
                            created_at: "2025-08-03T20:54:35.984804642",
                            updated_at: "2025-08-03T20:54:35.984805022",
                            created_by: "a73f0b00-4d00-4477-a4f3-9d9951318678",
                        ),
                    },
                    outgoing_transactions: {},
                    bank_transactions: {},
                    created_at: "2025-08-03T20:54:35.984800063",
                    updated_at: "2025-08-03T20:54:35.984813335",
                    created_by: "a73f0b00-4d00-4477-a4f3-9d9951318678",
                    budget_id: "161fa5fa-8307-48ee-96eb-b10b68799988",
                ),
                Income("Löner"): (
                    id: "c74b9bbf-0dc6-40a9-8096-a4954044b3ff",
                    name: "Lön Lisa",
                    budget_category: Income("Löner"),
                    incoming_transactions: {
                        "66f1ee7e-4fcf-4dff-a9a5-5bc4e0257cfe": (
                            id: "66f1ee7e-4fcf-4dff-a9a5-5bc4e0257cfe",
                            text: "Lön Lisa",
                            transaction_type: StartValue,
                            amount: 19500.0,
                            from_budget_item: None,
                            to_budget_item: "c74b9bbf-0dc6-40a9-8096-a4954044b3ff",
                            created_at: "2025-08-03T20:54:35.984765753",
                            updated_at: "2025-08-03T20:54:35.984766101",
                            created_by: "a73f0b00-4d00-4477-a4f3-9d9951318678",
                        ),
                    },
                    outgoing_transactions: {
                        "f8e56f45-a110-454e-9ae0-3d58854f7578": (
                            id: "f8e56f45-a110-454e-9ae0-3d58854f7578",
                            text: "Spend Money",
                            transaction_type: StartValue,
                            amount: 7500.0,
                            from_budget_item: Some("c74b9bbf-0dc6-40a9-8096-a4954044b3ff"),
                            to_budget_item: "f89da453-4926-4503-a7a7-6e3cb12021ae",
                            created_at: "2025-08-03T20:54:35.984804642",
                            updated_at: "2025-08-03T20:54:35.984805022",
                            created_by: "a73f0b00-4d00-4477-a4f3-9d9951318678",
                        ),
                        "24bfeaa0-0907-4815-bfdc-70dcd0c502da": (
                            id: "24bfeaa0-0907-4815-bfdc-70dcd0c502da",
                            text: "Spend Money",
                            transaction_type: StartValue,
                            amount: 5660.0,
                            from_budget_item: Some("c74b9bbf-0dc6-40a9-8096-a4954044b3ff"),
                            to_budget_item: "0d18be80-bd51-48e2-ba8a-409a8b951b9e",
                            created_at: "2025-08-03T20:54:35.984788180",
                            updated_at: "2025-08-03T20:54:35.984788594",
                            created_by: "a73f0b00-4d00-4477-a4f3-9d9951318678",
                        ),
                    },
                    bank_transactions: {},
                    created_at: "2025-08-03T20:54:35.984762660",
                    updated_at: "2025-08-03T20:54:35.984806744",
                    created_by: "a73f0b00-4d00-4477-a4f3-9d9951318678",
                    budget_id: "161fa5fa-8307-48ee-96eb-b10b68799988",
                ),
            },
            created_at: "2025-08-03T20:54:35.984699914",
            updated_at: "2025-08-03T20:54:35.984819212",
            user_id: "a73f0b00-4d00-4477-a4f3-9d9951318678",
        ),
        (
            id: "988d1843-c679-4f7a-8158-037b8db02b5e",
            name: "Default",
            default_budget: true,
            month_begins_on: PreviousMonth(25),
            budget_categories: [],
            budget_items: {},
            created_at: "2025-08-03T20:54:35.989219869",
            updated_at: "2025-08-03T20:54:35.989223957",
            user_id: "a73f0b00-4d00-4477-a4f3-9d9951318678",
        ),
    ],
    BudgetItem: [],
    BudgetTransaction: [],
    BankTransaction: [],
)