(
    User: [
        (
            id: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
            user_name: "tommie",
            email: "tommie.nygren@gmail.com",
            first_name: "Tommie",
            last_name: "Nygren",
            phone: Some("0704382781"),
            birthday: Some("1973-05-12"),
        ),
    ],
    Budget: [
        (
            id: "b087459c-c73d-4b6a-9e24-c2dfcee4a191",
            name: "Default test budget",
            default_budget: true,
            month_begins_on: PreviousMonth(25),
            budget_categories: [
                Expense("Fasta Utgifter"),
                Income("Löner"),
            ],
            budget_items: {
                Expense("Fasta Utgifter"): (
                    id: "add5ce87-5474-47f7-9508-2b4ef9c447ea",
                    name: "Hyra lägenheten",
                    budget_category: Expense("Fasta Utgifter"),
                    incoming_transactions: {
                        "49c32b29-cefd-4ef3-825e-d8a11af9ce7d": (
                            id: "49c32b29-cefd-4ef3-825e-d8a11af9ce7d",
                            text: "Spend Money",
                            transaction_type: StartValue,
                            amount: 7500.0,
                            from_budget_item: Some("ec06165a-244d-499c-9161-5fdf3bf42f0c"),
                            to_budget_item: "add5ce87-5474-47f7-9508-2b4ef9c447ea",
                            created_at: "2025-08-04T05:33:08.677832893",
                            updated_at: "2025-08-04T05:33:08.677833160",
                            created_by: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
                        ),
                    },
                    outgoing_transactions: {},
                    bank_transactions: {},
                    created_at: "2025-08-04T05:33:08.677829415",
                    updated_at: "2025-08-04T05:33:08.677836334",
                    created_by: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
                    budget_id: "b087459c-c73d-4b6a-9e24-c2dfcee4a191",
                ),
                Income("Löner"): (
                    id: "ec06165a-244d-499c-9161-5fdf3bf42f0c",
                    name: "Lön Lisa",
                    budget_category: Income("Löner"),
                    incoming_transactions: {
                        "afd21f0f-daa6-4470-a227-09edf733a4ab": (
                            id: "afd21f0f-daa6-4470-a227-09edf733a4ab",
                            text: "Lön Lisa",
                            transaction_type: StartValue,
                            amount: 19500.0,
                            from_budget_item: None,
                            to_budget_item: "ec06165a-244d-499c-9161-5fdf3bf42f0c",
                            created_at: "2025-08-04T05:33:08.677800984",
                            updated_at: "2025-08-04T05:33:08.677801271",
                            created_by: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
                        ),
                    },
                    outgoing_transactions: {
                        "69b3f3e6-66bf-4f60-8069-fced65a5ce80": (
                            id: "69b3f3e6-66bf-4f60-8069-fced65a5ce80",
                            text: "Spend Money",
                            transaction_type: StartValue,
                            amount: 5660.0,
                            from_budget_item: Some("ec06165a-244d-499c-9161-5fdf3bf42f0c"),
                            to_budget_item: "8eef6022-f0ad-469f-8f09-7d39b6c0ae99",
                            created_at: "2025-08-04T05:33:08.677817460",
                            updated_at: "2025-08-04T05:33:08.677817754",
                            created_by: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
                        ),
                        "49c32b29-cefd-4ef3-825e-d8a11af9ce7d": (
                            id: "49c32b29-cefd-4ef3-825e-d8a11af9ce7d",
                            text: "Spend Money",
                            transaction_type: StartValue,
                            amount: 7500.0,
                            from_budget_item: Some("ec06165a-244d-499c-9161-5fdf3bf42f0c"),
                            to_budget_item: "add5ce87-5474-47f7-9508-2b4ef9c447ea",
                            created_at: "2025-08-04T05:33:08.677832893",
                            updated_at: "2025-08-04T05:33:08.677833160",
                            created_by: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
                        ),
                    },
                    bank_transactions: {},
                    created_at: "2025-08-04T05:33:08.677798587",
                    updated_at: "2025-08-04T05:33:08.677834538",
                    created_by: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
                    budget_id: "b087459c-c73d-4b6a-9e24-c2dfcee4a191",
                ),
            },
            created_at: "2025-08-04T05:33:08.677745728",
            updated_at: "2025-08-04T05:33:08.677840619",
            user_id: "096b92a2-2853-4ebd-9c38-b2a679eae0e9",
        ),
    ],
    BudgetItem: [],
    BudgetTransaction: [],
    BankTransaction: [],
)