[package]
name = "desktop"
version = "0.1.0"
edition = "2024"

[dependencies]
dioxus = { workspace = true, features = ["router", "fullstack"] }
ui = { workspace = true }
api = { workspace = true, optional = true, features = ["server"] }

[features]
default = []
desktop = ["dioxus/desktop"]
server = ["dioxus/server", "api"]
